<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css" rel="stylesheet">
</head>
<body class="bg-gray-50">
    <div class="flex h-screen overflow-hidden">
        <!-- Sidebar -->
        {# SIDEBAR #}
        {% include 'includes/sidebar.html' %}

        <!-- Main content area -->
        <div class="flex-1 flex flex-col overflow-hidden">
            <!-- Navbar -->
            {# NAVBAR #}
            {% include 'includes/navbar.html' %}

            <!-- Main content -->
            <main class="flex-1 overflow-x-hidden overflow-y-auto bg-gray-50 p-8">
                {% block content %}{% endblock %}
            </main>
        </div>
    </div>
<script src="{% static 'js/script.js' %}"></script>
</body>
</html>